{% extends "base.html" %}
{% load i18n  garb_tags %}


{% block breadcrumbs  %} {% endblock %}
{% block content %} {% endblock %}

{% block messages %}
    $.toast({
        heading: `{{ None|garb_title }}`,
        text: `{% trans "Thanks for spending some quality time with the Web site today." %}`,
        icon: 'success',
        loader: true,
        position: 'bottom-right',
        showHideTransition: 'slide',
        hideAfter: 9000, 
        allowToastClose: true,
        stack: 20,
    });
{% endblock %}
