{% extends "base.html" %}
{% load i18n  garb_tags %}
{% block login %}{% endblock %}

{% comment %} 
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset' %}
</div>
{% endblock %} {% endcomment %}


{% block sidebar %}
    <aside class="sidebarlogin"> </aside>
{% endblock %}

{% block content %}
    <div class="logincontent">
        <div class="loginboxes">
            <div class="loginbox">
                <h1 class="site-name-azul m-0">{{ None|garb_title }}</h1>
                <p>{% trans 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>
                <p>{% trans 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</p>
            </div>
        </div>
    </div>
{% endblock %}