{% extends "base.html" %}
{% load i18n  garb_tags %}

{% block sidebar %}
    <aside class="sidebarlogin"> </aside>
{% endblock %}

{% comment %} {% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset' %}
</div>
{% endblock %} {% endcomment %}

{% block content %}
    <div class="logincontent">
        <div class="loginboxes">
            <div class="loginbox">
                <h1 class="site-name-azul m-0">{{ None|garb_title }}</h1>
                <p >{% trans "Your password has been set.  You may go ahead and log in now." %}</p>
            </div>
        </div>
    </div>
{% endblock %}
