{% extends "base.html" %}
{% load i18n  garb_tags %}
{% block login %}{% endblock %}

{% block breadcrumbs %}
    {% include "admin/includes/breadcrumbs.html" with nivel=1 breadcrumbs_action='Password reset' %}
{% endblock %}

{% block sidebar %}
    <aside class="sidebarlogin"> </aside>
{% endblock %}

{% block content %}
    <div class="logincontent">
        <div class="loginboxes">
            <div class="loginbox">
                <h1 class="site-name-azul m-0">{{ None|garb_title }}</h1>
                <p>{% trans 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}</p>
                <form method="post" >{% csrf_token %}
                    <div class="login_input">
                        <label for="id_email">{% trans 'Email address:' %}</label>
                        {{ form.email }}
                        {{ form.email.errors }}
                    </div>
                    <div class="login_input">
                        <input type="submit" value="{% trans 'Reset my password' %}" class="button" />
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}