{% extends "admin/base_site.html" %}
{% load i18n static garb_tags %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
{% endblock %}

{% block breadcrumbs %}
{% include "admin/includes/breadcrumbs.html" with nivel=1 breadcrumbs_action='Password change' %}
{% endblock %}

{% block content %}
    <form method="post">
        <div class="hide">{% csrf_token %}</div>
        <div class="change-columns">
            <div class="main-column">
                <div class="main-column-item">
                    {% if form.errors %}
                        <div class="alert alert-danger" role="alert">
                            {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{%endif %}
                        </div>
                    {% endif %}
                    <fieldset class="module aligned">
                        {% block form_top %}
                            <div class="module-header">
                                <div class="sub_title">
                                    {% trans 'Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.' %}
                                </div>
                            </div>
                        {% endblock %}
                        <div class="form-row {% if form.old_password.errors %} errors{% endif %}">
                            {{ form.old_password.errors }}
                            <div class="form-row-box" >
                                <div class="form-row-label">
                                    {{ form.old_password.label_tag }}
                                </div>
                                <div class="form-row-field">
                                    {{ form.old_password }}
                                </div>
                            </div>
                        </div>
                        <div class="form-row {% if form.new_password1.errors or form.new_password2.errors %} errors{% endif %}">
                            {{ form.new_password1.errors }}
                            <div class="form-row-box">
                                <div class="form-row-label">
                                    {{ form.new_password1.label_tag }}
                                </div>
                                <div class="form-row-field">
                                    {{ form.new_password1 }}
                                </div>
                            </div>
                            {% if form.new_password1.help_text %}
                                <div class="help">{{ form.new_password1.help_text|safe }}</div>
                            {% endif %}
                        </div>
                        <div class="form-row {% if form.new_password1.errors or form.new_password2.errors %} errors{% endif %}">
                            {{ form.new_password2.errors }}
                            <div class="form-row-box">
                                <div class="form-row-label">
                                    {{ form.new_password2.label_tag }} 
                                </div>
                                <div class="form-row-field">
                                    {{ form.new_password2 }}
                                </div>
                            </div>
                            {% if form.new_password2.help_text %}
                                <div class="help">{{ form.new_password2.help_text|safe }}</div>
                            {% endif %}
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="box-column {% if form.errors %} error {% endif %}">
                <div class="save-box">
                    <input type="submit" value="{% trans 'Change password' %}" class="btn button">
                </div>
            </div>
        </div>
    </form>
{% endblock %}
