{% extends "base.html" %}
{% load i18n  garb_tags %}
{% comment %} {% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password change' %}
</div>
{% endblock %} {% endcomment %}

{% block content %}
    <div class="logincontent">
        <div class="loginboxes">
            <div class="loginbox">
                <h6 class="site-name-azul m-0">{{title }}</h1>
                <p>{% trans 'Your password was changed.' %}</p>
            </div>
        </div>
    </div>
{% endblock %}