{% extends "base.html" %}
{% load i18n  garb_tags %}

{% block breadcrumbs %}
    {% include "admin/includes/breadcrumbs.html" with nivel=1 breadcrumbs_action='Password change' %}
{% endblock %}

{% block content-extend %}
    <div class="logincontent">
        <div class="loginboxes">
            <div class="loginbox">
                <h6 class="site-name-azul m-0">{{title }}</h1>
                <p>{% trans 'Your password was changed.' %}</p>
            </div>
        </div>
    </div>
{% endblock %}