{% extends 'base_email.html' %}
{% load i18n  garb_tags %}
{% load static %}
{% block content %}
    <p>{% blocktrans %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}</p>
    <p>{% trans "Please go to the following page and choose a new password:" %}</p>
    <p style="text-align:center;">
        <a  href="{% block reset_link %}{{ protocol }}://{{ request.META.HTTP_HOST }}{% url 'password_reset_confirm' uidb64=uid token=token %}{% endblock %}" target="_parent" class="btn"> {% trans "Change password" %}</a>
    </p>
    <p>{% trans 'Your username, in case you’ve forgotten:' %}<b>{{ user.get_username }}</b></p>
    <p>{% trans "Thanks for using our site!" %}</p>
{% endblock %}