{% extends "base.html" %}
{% load i18n static garb_tags %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}
{% block userlinks %}{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> / {% endif %} {% trans 'Change password' %} / <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>{% endblock %}

{% comment %} 
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password change' %}
</div>
{% endblock %} {% endcomment %}




{% block content %}
    <div class="logincontent">
        <div class="loginboxes">
            <div class="loginbox">
                <p>{% trans 'Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.' %}</p>
                <form method="post">{% csrf_token %}
                    <div class="hide">{% csrf_token %}</div>
                    <div class="login_input">
                        {{ form.old_password.label_tag }} 
                        {{ form.old_password }}
                        {{ form.old_password.errors }}
                    </div>
                    <div class="login_input">
                        {{ form.new_password1.label_tag }} 
                        {{ form.new_password1 }}
                        {{ form.new_password1.errors }}
                    </div>
                    <div class="login_input ">
                        {{ form.new_password2.label_tag }} {{ form.new_password2 }}
                        {% if form.new_password2.help_text %}
                            <div class="help">{{ form.new_password2.help_text|safe }}</div>
                        {% endif %}
                    </div>
                    <div class="login_input">
                        {% if form.new_password1.help_text %}
                            <div class="help">{{ form.new_password1.help_text|safe }}</div>
                        {% endif %}
                    </div>
                    <div class="login_input">
                        <input type="submit" value="{% trans 'Change my password' %}" class="button" />
                    </div>
                </form>
                <br>
            </div>
            <br>
            {% if form.errors %}
                <div class="loginbox_error">
                    <p class="errornote alert alert-error text-justify">
                        {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
                    </p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
