{% load i18n  admin_urls  %}
<div class="breadcrumbs">
  {% if nivel == 1 %}
      <ul class="breadcrumb">
        <li class="active">{% trans breadcrumbs_action|upper  %}</li>
      </ul>
  {% endif %}


  {% if nivel == 2 %}
    <ul class="breadcrumb">
        <li>
          <a href="{% url opts|admin_urlname:'changelist' %}"> {{ opts.verbose_name_plural|upper }} </a>
          <span class="divider">/</span>
        </li>
        <li class="active">
            {{breadcrumbs_action|upper|truncatewords:"25" }}
        </li>
      </ul>
  {% endif %}

  {% if nivel == 3 %}
      <div class="breadcrumb">
        <li>
          <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|upper }}</a>
          <span class="divider">/</span>
        </li>
        <li>
          {% if original.pk %}
            <a href="{% url opts|admin_urlname:'changelist' %}{{ original.pk }}">{{ original|upper|truncatewords:"18" }}</a>
          {% else %}
            <a href="{% url opts|admin_urlname:'changelist' %}{{ object.pk }}">{{ object|upper|truncatewords:"18" }}</a>
          {% endif %}
          <span class="divider">/</span>
        </li>
        <li class="active">{% trans  breadcrumbs_action|upper|truncatewords:"25" %}</li>
      </div>
  {% endif %}

  {% if nivel == "apps" %}
    <ul class="breadcrumb">
      <li>
        <a href="{% url 'admin:index' %}">APPS</a>
        <span class="divider">/</span>
      </li>
      <li class="active">
          {{breadcrumbs_action|upper|truncatewords:"25" }}
      </li>
    </ul>
  {% endif %}
</div>