{% load i18n static garb_tags %}
<fieldset class="module aligned {{ fieldset.classes }}">
    {% if  forloop.first %}
        {% block form_top %}{% endblock %}
    {% endif %}
    {% if fieldset.name  or fieldset.description %}
        <div class="module-header">
            {% if fieldset.name %}
                <div class="legend">{{ fieldset.name }}</div>
            {% endif %}
            {% if fieldset.description %}
                <div class="description">{{ fieldset.description|safe }}</div>
            {% endif %}
        </div>
    {% endif %}

    {% for line in fieldset %}
        <div class="form-row{% if line.fields|length_is:'1' and line.errors %} is-invalid{% endif %}{% if not line.has_visible_field %} hidden{% endif %}{% for field in line %}{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% endfor %}">
            {% for field in line %}
                <div{% if not line.fields|length_is:'1' %} class="form-row-box fieldBox{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% if not field.is_readonly and field.errors %} errors{% endif %}{% if field.field.is_hidden %} hidden{% endif %}"{% elif field.is_checkbox %} class="form-row-box checkbox-row"{% else %} class="form-row-box"{% endif %}>
                    {% if field.is_checkbox %}
                        <div class="form-row-label"></div>
                        <div class="form-row-checkbox form-row-field">
                            {{ field.field }}{{ field.label_tag }} 
                        </div>
                    {% else %}
                        <div class="form-row-label">
                            {{ field.label_tag }}
                        </div>
                        <div class="form-row-field">
                            {% if field.is_readonly %}
                                {% if not "img" in field.contents %}
                                    <div class="readonly">{{ field.contents }}</div>
                                {% else %}
                                    <div class=" form-row-checkbox">
                                        <input type="checkbox" name="{{ field.field.field }}"  disabled="">
                                    </div>
                                {% endif %}
                            {% else %}
                                {{ field.field }}
                            {% endif %}
                            <div class="form-row-error">
                                {% if not line.fields|length_is:'1' and not field.is_readonly %}{{ field.errors }}{% endif %}
                                {% if line.fields|length_is:'1' %}{{ line.errors }}{% endif %}
                            </div>
                        </div>
                    {% endif %}
                </div>
                {% if field.field.help_text %}
                    <div class="help">{{ field.field.help_text|safe }}</div>
                {% endif %}
            {% endfor %}
            
        </div>
    {% endfor %}
</fieldset>