
{% load  admin_list garb_list %}
{% load i18n %}

  {% if cl.formset and cl.result_count %}
    <input type="submit" name="_save" class="button" value="{% trans 'Save' %}"/>
  {% endif %} 

  {% if pagination_required %}
      <ul class="pagination-list pagination">
        {% for i in page_range %}
          {% paginator_number cl i %}
        {% endfor %}
      </ul>
  {% endif %}
  
  
  <div class="list-info" >
    {% paginator_info cl %}
    &nbsp;/&nbsp;
    {{ cl.result_count }}
    {% if show_all_url %}&nbsp;&nbsp;
      <a href="{{ show_all_url }}" class="showall">{% trans 'Show all' %}</a>
    {% endif %}
  </div>

