{% load i18n admin_urls static admin_modify %}
<div class="js-inline-admin-formset inline-group" id="{{ inline_admin_formset.formset.prefix }}-group" data-inline-type="tabular" data-inline-formset="{{ inline_admin_formset.inline_formset_data }}">
  <div class="tabular inline-related {% if forloop.last %}last-related{% endif %}">
    {{ inline_admin_formset.formset.management_form }}
    <fieldset class="module {{ inline_admin_formset.classes }}">
      <div class="module-header">
        <div class="legend">{{ inline_admin_formset.opts.verbose_name_plural|capfirst }}</div>
      </div>
      {{ inline_admin_formset.formset.non_form_errors }}
      <table>
        <thead>
          <tr>
            <th class="original"></th>
              {% for field in inline_admin_formset.fields %}
                {% if not field.widget.is_hidden %}
                  <th class="column-{{ field.name }}{% if field.required %} required{% endif %}">
                    {{ field.label|capfirst }}
                    {% if field.help_text %}&nbsp;<img src="{% static "admin/img/icon-unknown.svg" %}" class="help help-tooltip" width="10" height="10" alt="({{ field.help_text|striptags }})" title="{{ field.help_text|striptags }}">{% endif %}
                  </th>
                {% endif %}
              {% endfor %}
              {% if inline_admin_formset.formset.can_delete and inline_admin_formset.has_delete_permission %}
                <th class="delete">{% trans "Delete?" %}</th>
              {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for inline_admin_form in inline_admin_formset %}
            {% if inline_admin_form.form.non_field_errors %}
              <tr><td colspan="{{ inline_admin_form|cell_count }}">{{ inline_admin_form.form.non_field_errors }}</td></tr>
            {% endif %}
            <tr class="form-row-tabular {% cycle "row1" "row2" %} {% if inline_admin_form.original or inline_admin_form.show_url %}has_original{% endif %}{% if forloop.last and inline_admin_formset.has_add_permission %} empty-form{% endif %}" id="{{ inline_admin_formset.formset.prefix }}-{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}">
              <td class="original">
                {% if inline_admin_form.original or inline_admin_form.show_url %}
                  <p>
                    {% if inline_admin_form.original %}
                      {% if inline_admin_form.model_admin.show_change_link and inline_admin_form.model_admin.has_registered_model %}
                        <a href="{% url inline_admin_form.model_admin.opts|admin_urlname:'change' inline_admin_form.original.pk|admin_urlquote %}" 
                          class="{% if inline_admin_formset.has_change_permission %}inlinechangelink{% else %}inlineviewlink{% endif %}">
                          {% if  inline_admin_formset.has_change_permission %}
                            {% trans "Change" %}
                          {% else %}
                            {% trans "View" %}
                          {% endif %}
                        </a>
                      {% endif %}
                    {% endif %}
                    {% if inline_admin_form.show_url %}
                      <a href="{{ inline_admin_form.absolute_url }}">
                        {% trans "View on site" %}
                      </a>
                    {% endif %}
                  </p>
                {% endif %}
                {% if inline_admin_form.needs_explicit_pk_field %}{{ inline_admin_form.pk_field.field }}{% endif %}
                {% if inline_admin_form.fk_field %}{{ inline_admin_form.fk_field.field }}{% endif %}
                {% spaceless %}
                {% for fieldset in inline_admin_form %}
                  {% for line in fieldset %}
                    {% for field in line %}
                      {% if not field.is_readonly and field.field.is_hidden %}{{ field.field }}{% endif %}
                    {% endfor %}
                  {% endfor %}
                {% endfor %}
                {% endspaceless %}
              </td>
              {% for fieldset in inline_admin_form %}
                {% for line in fieldset %}
                  {% for field in line %}
                    {% if field.is_readonly or not field.field.is_hidden %}
                      <td{% if field.field.name %} class="field-{{ field.field.name }}"{% endif %}>
                        {% if field.is_readonly %}
                          {{ field.contents }}
                        {% else %}
                          {{ field.field.errors.as_ul }}
                          {{ field.field }}
                        {% endif %}
                      </td>
                    {% endif %}
                  {% endfor %}
                {% endfor %}
              {% endfor %}
              {% if inline_admin_formset.formset.can_delete and inline_admin_formset.has_delete_permission %}
                <td class="delete">
                  {% if inline_admin_form.original %}
                    {{ inline_admin_form.deletion_field.field }}
                  {% endif %}
                </td>
              {% endif %}
            </tr>
          {% empty %}
          <tr>
          <td></td>
            {% for fieldset in inline_admin_formset.fields %}
              {% if forloop.first and not field.widget.is_hidden %}<td>{% trans "None" %}</td> {%else %} <td></td> {% endif %} 
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </fieldset>
  </div>
</div>
      {% comment %} <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
<script type="text/javascript">
  (function ($) {
      'use strict';
    $(document).ready(function ($) {
      var rows = "#{{ inline_admin_formset.formset.prefix }}-group .tabular.inline-related tbody tr";
      var alternatingRows = function(row) {
        $(selector).not(".add-row").removeClass("row1 row2")
            .filter(":even").addClass("row1").end()
            .filter(":odd").addClass("row2");
      };
      var initPrepopulatedFields = function(row) {
        row.find('.prepopulated_field').each(function() {
            var field = $(this),
                input = field.find('input, select, textarea'),
                dependency_list = input.data('dependency_list') || [],
                dependencies = [];
            $.each(dependency_list, function(i, field_name) {
                dependencies.push('#' + row.find('.field-' + field_name).find('input, select, textarea').attr('id'));
            });
            if (dependencies.length) {
                input.prepopulate(dependencies, input.attr('maxlength'));
            }
        });
      };
      var reinitDateTimeShortCuts = function() {
        // Reinitialize the calendar and clock widgets by force
        if (typeof DateTimeShortcuts !== "undefined") {
            $(".datetimeshortcuts").remove();
            DateTimeShortcuts.init();
        }
      };

      var updateSelectFilter = function() {
        // If any SelectFilter widgets are a part of the new form,
        // instantiate a new SelectFilter instance for it.
        if (typeof SelectFilter !== 'undefined') {
            $('.selectfilter').each(function(index, value) {
                var namearr = value.name.split('-');
                SelectFilter.init(value.id, namearr[namearr.length - 1], false);
            });
            $('.selectfilterstacked').each(function(index, value) {
                var namearr = value.name.split('-');
                SelectFilter.init(value.id, namearr[namearr.length - 1], true);
            });
        }
      };

      $(rows).formset({
        prefix: `{{ inline_admin_formset.formset.prefix }}`,
        addText: `{% blocktrans with verbose_name=inline_admin_formset.opts.verbose_name|title %}Add another {{ verbose_name }}{% endblocktrans %}`,
        formCssClass: `dynamic-{{ inline_admin_formset.formset.prefix }}`,
        deleteCssClass: "inline-deletelink",
        deleteText: `{% trans "Remove" %}`,
        emptyCssClass: "empty-form",
        removed: alternatingRows,
        added: (function (row) {
          initPrepopulatedFields(row);
          reinitDateTimeShortCuts();
          updateSelectFilter();
          $.getScript("https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js", function(selectpicker) {
            $(function () {
                $('select').selectpicker();
            });
          });
        }),
      });
    });
  })(django.jQuery);
</script> {% endcomment %}