{% load i18n  admin_urls  %}
<div class="breadcrumbs">
  {% if nivel == 1 %}

      <ul class="breadcrumb">
        <li class="active">{% trans breadcrumbs_action|title  %}</li>
      </ul>
  {% endif %}


  {% if nivel == 2 %}
    <ul class="breadcrumb">
        <li>
          <a href="{% url opts|admin_urlname:'changelist' %}"> {{ opts.verbose_name_plural|title }} </a>
          <span class="divider">/</span>
        </li>
        <li class="active">
            {{breadcrumbs_action|title|truncatewords:"25" }}
        </li>
      </ul>
  {% endif %}

  {% if nivel == 3 %}
      <div class="breadcrumb">
        <li>
          <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|title }}</a>
          <span class="divider">/</span>
        </li>
        <li>
          {% if original.pk %}
            <a href="{% url opts|admin_urlname:'changelist' %}{{ original.pk }}">{{ original|title|truncatewords:"18" }}</a>
          {% else %}
            <a href="{% url opts|admin_urlname:'changelist' %}{{ object.pk }}">{{ object|title|truncatewords:"18" }}</a>
          {% endif %}
          <span class="divider">/</span>
        </li>
        <li class="active">{{breadcrumbs_action|title|truncatewords:"25" }}</li>
      </div>
  {% endif %}
</div>
