    header {
        display: flex;
        height: 60px;
        justify-content: space-between;

        &>div:first-child {
            display: flex;

            .titulo {
                box-shadow: _(boxShadowMenu);
                background-color: _(bgcMenu);
                width: 230px;

                a {
                    width: 100%;
                    text-decoration: none;

                    .logo {
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: _(cTitle);
                        font-family: "Exo", sans-serif;
                        font-size: 1.5rem;
                        font-style: italic;
                        font-weight: 900;
                        margin: 0px;
                    }
                }
            }
        }

        .headerlogin {
            justify-content: flex-end;
            margin: 9px _(marginVw) 15px 15px;
        }
    }

    .wrapper {
        display: flex;
        justify-content: left;
        margin: auto 0;
        min-height: calc(100vh - 60px);

        aside {
            flex: 0 0 230px;
            box-shadow: _(boxShadowMenu);
        }

        main.margin-is-popup {
            padding: 4% 10% 4% 14%;
        }

        @media (max-width: 1200px) {
            main.margin-is-popup {
                padding: 4% 5%;
            }
        }

        @media (max-width: 800px) {
            main.margin-is-popup {
                padding: 4% 2%;
            }
        }

        main {
            min-width: 768px;
            flex: 1;

            .content-extend {
                margin: 0 _(marginVw) 10px;

                .content {
                    @include content();
                }
                .page_error {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: calc(100vh - 280px);
                    flex-direction: column;
                    color: _(cBreadcrumb);
                    .number_error {
                        font-size: 20em;
                        span {
                            display: inline-block;
                            animation: animate 2s ease-in-out infinite;
                        }
                        span:nth-child(even) {
                            animation-delay: -1s;
                        }                        
                        @keyframes animate {
                            0%, 100% {
                                transform:translateY(-10px);
                            }
                            50% {
                                transform:translateY(10px);
                            }
                        }
                    }
                    .mensage_error {
                        font-size: 1.5em;
                    }
                }

                .module-header {
                    border-bottom: _(bd);
                    padding: 5px 0 5px 15px;
                    min-height: 51px;
                    display: flex;
                    justify-content: flex-end;
                    align-items: baseline;
                    flex-direction: column;
                    
                    a {
                        width: 100%;
                    }

                    .legend {
                        font-size: 1.4rem;
                        width: 100%;
                    }

                    .description {
                        font-size: 1rem;
                        color: #5a6268;
                    }

                    .sub_title {
                        font-size: 1rem;
                    }
                }
                form .module-header {
                    padding: 5px 0 5px 165px;
                } 

                .module-footer {
                    border-top: _(bd);
                    margin-top: 0px;
                    padding: 10px 5%;
                    min-height: 50px;

                    .buttons {
                        align-items: center;
                        display: flex;
                        justify-content: flex-end;
                        text-align: right;
                        input {
                            height: 40px;
                        }
                        a, button {
                            height: 40px;
                            margin: 0 5px;
                            padding-left:10px;
                            padding-right: 10px;
                        }
                    }
                }
                
                .module-box {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: calc(100vh - 80px);
                    .content-box {
                        @include content();
                        padding: 3em ;
                        border-left: 6px solid _(cPrimary);
                        margin-top:  -160px;
                        width: calc(40vw + 230px);
                        form {
                            padding: 10px 3em;
                        }
                        p {
                            padding: 20px 0 0 0 ;
                            margin: 0;
                            text-align: justify;
                        }
                    }
                }
            }

            .breadcrumb {
                height: 100%;
                align-items: flex-end;
                margin: 0 _(marginVw);
                padding: 0 1em;
                flex-wrap: nowrap;
                font-size: 24px;
                font-weight: 400;
                line-height: 1.33;
                background-color: transparent;

                li.active {
                    font-weight: bold;
                }

                li {
                    color: _(cBreadcrumb);

                    a {
                        color: _(cBreadcrumb);
                        text-decoration: none;

                        &:hover {
                            font-weight: bold;
                        }
                    }
                }

                .divider {
                    color: _(cBreadcrumb);
                    padding: 0 5px;
                }
            }
            .breadcrumb.column-center {
                padding-left: 12%;
            } 
        }
    }

    .alert-danger {
        @include errors();
    }

    .site-name-azul {
        color: _(cPrimary);
        font-family: "Exo", sans-serif;
        font-size: 1.5rem;
        font-style: italic;
        font-weight: 900;
        margin: 0px;
        text-align: center;
    }

    i.fas {
        margin-right: 5px;
    }

    #view_monitoramento {
        min-width: 40px;
    }