    header {
        display: flex;
        height: 60px;
        justify-content: space-between;

        &>div:first-child {
            display: flex;

            .titulo {
                box-shadow: 0 .125rem 9.375rem rgba(90, 97, 105, .1), 0 .25rem .5rem rgba(90, 97, 105, .12), 0 .9375rem 1.375rem rgba(90, 97, 105, .1), 0 .4375rem 2.1875rem rgba(165, 182, 201, .1);
                background-color: $color-menu;
                width: 230px;

                a {
                    width: 100%;
                    text-decoration: none;

                    .logo {
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: $color-title-main;
                        font-family: "Exo", sans-serif;
                        font-size: 1.5rem;
                        font-style: italic;
                        font-weight: 900;
                        margin: 0px;
                    }
                }
            }
        }

        .headerlogin {
            justify-content: flex-end;
            margin: 9px $margin-vw 15px 15px;
        }
    }

    .wrapper {
        display: flex;
        justify-content: left;
        margin: auto 0;
        min-height: calc(100vh - 60px);

        aside {
            flex: 0 0 230px;
            box-shadow: 0 .125rem 9.375rem rgba(90, 97, 105, .1), 0 .25rem .5rem rgba(90, 97, 105, .12), 0 .9375rem 1.375rem rgba(90, 97, 105, .1), 0 .4375rem 2.1875rem rgba(165, 182, 201, .1);
        }

        main.margin-is-popup {
            padding: 4% 10% 4% 14%;
        }

        @media (max-width: 1200px) {
            main.margin-is-popup {
                padding: 4% 5%;
            }
        }

        @media (max-width: 800px) {
            main.margin-is-popup {
                padding: 4% 2%;
            }
        }

        main {
            min-width: 768px;
            flex: 1;

            .content-extend {
                margin: 0 $margin-vw 10px;

                .content {
                    @include content();
                }

                .module-header {
                    border-bottom: $border;
                    padding: 5px 0 5px 165px;
                    min-height: 51px;
                    display: flex;
                    justify-content: flex-end;
                    align-items: baseline;
                    flex-direction: column;

                    .legend {
                        font-size: 1.4rem;
                    }

                    .description {
                        font-size: 1rem;
                        color: #5a6268;
                    }

                    .sub_title {
                        font-size: 1rem;
                    }
                }

                .module-footer {
                    border-top: $border;
                    margin-top: 0px;
                    padding: 10px 170px;
                    min-height: 50px;

                    .buttons {
                        align-items: center;
                        display: flex;
                        justify-content: flex-end;

                        input {
                            height: 40px;
                        }

                        a {
                            margin-left: 10px;
                            height: 40px;
                        }
                    }
                }
            }

            .breadcrumb {
                height: 100%;
                align-items: flex-end;
                margin: 0 $margin-vw;
                padding: 0 1em;
                flex-wrap: nowrap;
                font-size: 24px;
                font-weight: 400;
                line-height: 1.33;
                background-color: transparent;

                li.active {
                    font-weight: bold;
                }

                li {
                    color: $color1;

                    a {
                        color: $color1;
                        text-decoration: none;

                        &:hover {
                            font-weight: bold;
                        }
                    }
                }

                .divider {
                    color: $color1;
                    padding: 0 5px;
                }
            }
        }
    }

    .alert-danger {
        @include errors();
    }

    .site-name-azul {
        color: _(colorTitle);
        font-family: "Exo", sans-serif;
        font-size: 1.5rem;
        font-style: italic;
        font-weight: 900;
        margin: 0px;
        text-align: center;
    }