.change-columns {
    @include flex-row();
    align-items: flex-start;
    .box-column.error {
        padding-top: 62px;
    }
    .box-column {
        width: 230px;
        .save-box {
            @include content();
            margin-bottom: 20px;
            .btn {
                margin-bottom: 5px;
                width: 100%;
            }
        }
    }
    .form-column {
        width: calc(100% - 230px);
        padding-right: 20px;
        .form_top {
            @include content();
            .legend {
                font-size: 1rem;
                margin-left: 165px;
            }
        }
        .form-column-item {
            margin-bottom: 20px;
            .alert {
                border-radius: $border-radius;
                box-shadow: $box-shadow;
                padding: 10px;
                margin: 10px 0;
            }
            input[type="text"], input[type="number"], input[type="url"], input[type="email"], input[type="search"], input[type="password"], textarea, select {
                width: 80%;
            }
            .selector select{
                width: 100%;
            }
            fieldset {
                @include content();
                margin-bottom: 10px;
                ul.errorlist { 
                    margin-bottom: 2px;
                    margin-top: 0;
                    padding-left: 0px;
                    color: $erro;
                    width: 100%;
                }

                .form-row.errors .form-row-box .form-row-field input,
                .form-row.errors .form-row-box .form-row-field textarea,
                .form-row.errors .form-row-box .form-row-field select {
                    border-color:  $erro;
                }
                .form-row:last-child {
                    border-bottom: none;
                }
                .form-row {
                    .vLargeTextField, .vXMLLargeTextField {
                        width: 80%;
                    }
                    .vDateField, .vTimeField {
                        width: 20%;
                    }
                    .form-row-box {
                        @include flex-row();
                        align-items: flex-start;
                        width: 100%;
                        .form-row-label {
                            width: 25%;
                            max-width: 160px;
                            text-align: right;
                            label {
                                font-weight: bold;
                                color: $color-text;
                                width: 100%;
                            }
                        }
                        .form-row-field {
                            width: 100%;
                            .related-widget-wrapper {
                                width: 100%;
                            }
                            .readonly {
                                background: #ffffff;
                                height: 40px;
                                border: 1px solid rgba(0,0,0,0.15);
                                border-radius: 3px;
                                color: $color-text-off;
                                font-size: 15px;
                                -webkit-transition: all 0.4s ease;
                                transition: all 0.4s ease;
                                padding: 10px;
                                width: 80%;
                            }
                            .selector .selector-available h2,
                            .selector .selector-chosen h2 {
                                font-size: 1rem;
                                padding: 5px;
                                text-align: center;
                                margin: 0;
                                span {
                                    width: 20px;
                                }
                            }
                            .selector .selector-chosen h2 {
                                background: $color1;
                                color: #fff;
                            }
                            .selector .selector-available h2 {
                                background: $background-color;
                                color: $color-text;
                            }
                        }
                        div.datetime {
                            strong {
                                padding-left: 10px;
                                color: $color-text-off;
                            }
                            .datetimeshortcuts {
                                margin-right: 40px;
                            }
                        }

                        .form-row-checkbox {
                            width: 100%;
                            label {
                                font-weight: bold;
                                color: $color-text;
                            }
                        }
                    }
                    .help {
                        color: $color-text-off;
                        width: 100%;
                        padding-left: 0px;
                        padding-top: 3px;
                        a {
                            padding-left: 3px;
                            color: $color1;
                        }
                    }
                    .related-widget-wrapper {
                        float: left;
                        overflow: initial;
                        }
                }
                .field-password .help {
                    margin: -15px 0 0 160px;
                }
            }
            
        }
    }
}