.results-footer {
    @include flex-row();
    align-items: flex-start;

    .button {
        padding: 5.5px 5px;
        min-width: 60px;
    }

    .actions {
        @include flex-row();
        justify-content: flex-start;
        width: 50%;

        label {
            margin: 0;
        }

        div.bootstrap-select {
            width: auto!important;
            margin-right: 10px;
            button {
                height: 35px;
            }
            .filter-option-inner-inner  {
                line-height: 35px;
            }
        }

        span.all,
        span.action-counter,
        span.clear,
        span.action-counter,
        span.question {
            display: none;
        }
    }

    .pagination-block {
        @include flex-row(); 

        .pagination-list {
            margin: 0;
            li.disabled a,
            li.disabled span {
                border: _(bd);
                &:hover {
                    background-color: _(bgcMenuSub);
                }
            }

            li.active a,
            li.active span {
                z-index: 1;
                color: _(cMenuFont);
                background-color: _(bgcMenuSub);
                color: _(cMenuActive);
                border: _(bd);
                text-decoration: none;

                &:hover {
                    color: _(cMenuFontHover);
                    background-color: _(bgcMenuHover);
                }
                
            }

            li a,
            li span {
                position: relative;
                display: block;
                padding: 0.5rem 0.75rem;
                margin-left: -1px;
                line-height: 1.25;
                background-color: _(bgcMenuItem);
                color: _(cMenuFont);
                text-decoration: none;
                border: _(bd);
                &:hover {
                    color: _(cMenuFontHover); 
                    background-color: _(bgcMenuHover);
                }
            }

            li a.end {
                border-radius: 0 _(bdRadius) _(bdRadius) 0;
            }

            li a.start {
                border-radius: _(bdRadius) 0 0 _(bdRadius);
            }
        }
    }
}

.results {
    table {
        position: relative;

        .action-checkbox,
        .action-checkbox-column {
            width: 16px;
            padding: 0 8px;
            vertical-align: middle;
        }

        a {
            &:hover {
                color: _(cPrimary);
                text-decoration: none;
            }
        }

        thead {
            tr th {
                background-color: _(bgcHeadMenu);
                border-bottom: none;
                border-top: none;
            }

            .th-col {
                @include flex-row();
                color:_(cText);

                .sortoptions {
                    padding-right: 10px;
                    color:#B0B3B6;
                    a {
                        color:inherit;
                    }
                }
            }
            .no_actions .action-checkbox-column{
                display: none;
            }
        }

        tbody {
            tr {
                height: 3em;
                a,
                td {
                    padding: 0px;
                    margin: 0px;
                }

                th a:before {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 32px;
                    width: calc(100% - 32px);
                    height: 3em;
                }

                td,
                th {
                    padding: 0px 0.75rem;
                    vertical-align: middle;
                    border-bottom: _(bd);
                    a {
                        font-weight: 400;
                        &:hover {
                            color: _(cMenuFontHover);
                        }
                    }
                }

                &:hover {
                    background-color: _(bgcMenuHover);
                    color: _(cMenuFontHover);
                }
            }
            .no_actions .action-checkbox {
                display: none;
            }
        }
    }
}

.toolbar-content {
    padding: 10px;
    @include flex-row();

    #toolbar {
        width: 100%;
        .search-container {
            @include flex-row();
            input, div.bootstrap-select {
                margin-right: 10px;
            }
            .input-group {
                display: flex;
                position: relative;
                .input-group-text {
                    border-top-left-radius: 3px;
                    border-bottom-left-radius: 3px;
                    border: _(bd);
                    position: absolute;
                    left: 0;
                    top:0;
                    width: 40px;
                    height: 100%;
                }
                input[type="search"] {
                    border-top-left-radius: 0px;
                    border-bottom-left-radius: 0px;
                    border-left: none;
                    margin-left: 40px;
                    width: 100%;
                }
                input[type="search"]:focus + div span {
                    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
                    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
                    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
                    -webkit-transform: translateY(-3px);
                    -moz-transform: translateY(-3px);
                    -ms-transform: translateY(-3px);
                    -o-transform: translateY(-3px);
                    transform: translateY(-3px);
                    border-left-color: _(cPrimary);
                    border-top-color: _(cPrimary);
                    border-bottom-color: _(cPrimary);
                }
            }
            .search-filters {
                .search-filter {
                    width: auto;
                }
            }
        }
    }
}

.list-info {
    border-radius: _(bdRadius);
    border: _(bd);
    background-color: _(bgcHeadMenu);
    margin: 0;
    padding: 0.5rem 0.75rem;
    line-height: 1.25;
    margin: 0 10px;

    a {
        color: _(cPrimary);
    }
}

.delete_confirmation {
    .module-header,.module-footer {
        border-color: _(erro)!important;
    }
    .module-delete {
        @include errors();
        padding: 20px 170px;
        .delete_confirmation_list {
            padding: 5px 10px;
        }
        ul {
            list-style: none;
            padding-left: 20px;
            margin-bottom: 0;
            li {
                padding: 5px 10px;
                a {
                    color: _(cPrimary);
                }
                &:before {
                    content: "\f03a"; 
                    font-family: "Font Awesome 5 Free";
                    display: inline-block;
                    margin-left: -1.3em; 
                    width: 1.3em; 
                }
                ul li {
                    &:before {
                        content: "\f068";
                        font-family: "Font Awesome 5 Free";
                        display: inline-block;
                        margin-left: -1.3em; 
                        width: 1.3em; 
                    }
                }
            }
        }
    }
}

.history-show {
    table {
        width: 100%;
        tr {
            border-bottom: _(bd);
            th, td {
                padding: 10px 0;
                a {
                    text-decoration: none;
                }
                i {
                    color: _(cPrimary);
                }
            }
            th:first-child,
            td:first-child {
                padding-left: 5%;
            }
        }
        tbody tr:last-child {
            border-bottom:none;
        }
    }
}
