.results-footer {
    @include flex-row();
    align-items: flex-start;

    .button {
        padding: 5.5px 5px;
        min-width: 60px;
    }

    .actions {
        @include flex-row();
        justify-content: flex-start;
        width: 50%;

        label {
            margin: 0;
        }

        select {
            height: 35px;
            width: auto;
            margin-right: 10px;
        }

        span.all,
        span.action-counter,
        span.clear,
        span.action-counter,
        span.question {
            display: none;
        }
    }

    .pagination-block {
        @include flex-row();

        .pagination-list {
            margin: 0;

            li.disabled a,
            li.disabled span {
                &:hover {
                    background-color: #fff;
                }
            }

            li.active a,
            li.active span {
                z-index: 1;
                color: #fff;
                background-color: $color1;
                border-color: $color1;

                &:hover {
                    background-color: $color1;
                }
            }

            li a,
            li span {
                position: relative;
                display: block;
                padding: 0.5rem 0.75rem;
                margin-left: -1px;
                line-height: 1.25;
                background-color: #fff;
                border: $border;
                text-decoration: none;

                &:hover {
                    background-color: $background-color;
                }
            }

            li a.end {
                border-radius: 0 $border-radius $border-radius 0;
            }

            li a.start {
                border-radius: $border-radius 0 0 $border-radius;
            }
        }
    }
}

.results {
    table {
        position: relative;

        .action-checkbox,
        .action-checkbox-column {
            width: 16px;
            padding: 0 8px;
            vertical-align: middle;
        }

        a {
            &:hover {
                color: $color1;
                text-decoration: none;
            }
        }

        thead {
            tr th {
                border-bottom: none;
            }

            .th-col {
                @include flex-row();
                color:$color-text;

                .sortoptions {
                    padding-right: 10px;
                    color:#B0B3B6;
                    a {
                        color:inherit;
                    }
                }
            }
            .no_actions .action-checkbox-column{
                display: none;
            }
        }

        tbody {
            border-bottom: 1px solid #dee2e6;
            tr {
                height: 3em;
                a,
                td {
                    line-height: 3em;
                    padding: 0px;
                    margin: 0px;
                }

                th a:before {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 32px;
                    width: calc(100% - 32px);
                    height: 3em;
                }

                td,
                th {
                    padding: 0px 0.75rem;
                    vertical-align: middle;
                    a {
                        font-weight: 400;
                    }
                }

                &:hover {
                    background-color: #b7ccda;
                    color: $color1;
                }
            }
            .no_actions .action-checkbox {
                display: none;
            }
        }
    }
}

.toolbar-content {
    padding: 10px;
    @include flex-row();

    #toolbar {
        width: 100%;
        .search-container {
            @include flex-row();
            input, select {
                margin-right: 10px;
            }
            .input-group {
                display: flex;
                position: relative;
                .input-group-text {
                    border-top-left-radius: 3px;
                    border-bottom-left-radius: 3px;
                    border: $border;
                    position: absolute;
                    left: 0;
                    top:0;
                    width: 40px;
                    height: 100%;
                }
                input[type="search"] {
                    border-top-left-radius: 0px;
                    border-bottom-left-radius: 0px;
                    border-left: none;
                    margin-left: 40px;
                    width: 100%;
                }
                input[type="search"]:focus + div span {
                    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
                    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
                    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
                    -webkit-transform: translateY(-3px);
                    -moz-transform: translateY(-3px);
                    -ms-transform: translateY(-3px);
                    -o-transform: translateY(-3px);
                    transform: translateY(-3px);
                    border-left-color: #80bdff;
                    border-top-color: #80bdff;
                    border-bottom-color: #80bdff;
                }
            }
            .search-filters {
                .search-filter {
                    width: auto;
                }
            }
        }
    }
}

.list-info {
    border-radius: $border-radius;
    border: $border;
    background-color: $background-color;
    margin: 0;
    padding: 0.5rem 0.75rem;
    line-height: 1.25;
    margin: 0 10px;

    a {
        color: $color1;
    }
}

.delete_confirmation {
    .module-reader {
        padding-top: 10px;
        .description, .legend  {
            color: $erro;
            font-weight: bold;
        }
    }
    .module-delete {
        padding-top: 20px;
        .delete_confirmation_list {
            padding: 10px 0 11px 170px;
            i {
                color: $erro;
            }
        }
    }
}
