.change-columns {
    @include flex-row();
    align-items: flex-start;

    .box-column.error {
        padding-top: 62px;
    }

    .box-column {
        width: 230px;

        .save-box {
            @include content();
            .btn {
                margin-bottom: 5px;
                width: 100%;
                color: #ffffff;
                &.btn-light {
                    color: #000000;
                    border: _(bd);
                }
            }
            
        }
    }

    .form-column {
        width: calc(100% - 230px);
        padding-right: 20px;

        .form-column-item {
            margin-bottom: 20px;

            .alert {
                border-radius: _(bdRadius);
                box-shadow: _(boxShadow);
                padding: 10px;
                margin: 10px 0;
            }
            
            input[type="text"],
            input[type="number"],
            input[type="url"],
            input[type="email"],
            input[type="search"],
            input[type="password"],
            textarea,
            .bootstrap-select {
                width: 80%;
            }

            .selector select {
                width: 100%;
            }

            fieldset {
                @include content();
                margin-bottom: 20px;
                ul.errorlist {
                    margin-bottom: 2px;
                    margin-top: 0;
                    padding-left: 0px;
                    color: _(erro);
                    width: 100%;
                }

                .form-row.errors .form-row-box .form-row-field input,
                .form-row.errors .form-row-box .form-row-field textarea,
                .form-row.errors .form-row-box .form-row-field .bootstrap-select>.dropdown-toggle {
                    @include errors();
                }

                .form-row:last-child {
                    border-bottom: none;
                }

                .form-row {
                    border-bottom: _(bd);
                    overflow: visible;
                    .vLargeTextField,
                    .vXMLLargeTextField {
                        width: 80%;
                    }

                    .vDateField,
                    .vTimeField {
                        width: 20%;
                    }

                    .form-row-box {
                        @include flex-row();
                        align-items: flex-start;
                        width: 100%;

                        .form-row-label {
                            width: 25%;
                            max-width: 160px;
                            text-align: right;

                            label {
                                font-weight: bold;
                                color: _(cText);
                                width: 100%;
                            }
                        }

                        .form-row-field {
                            width: 100%;

                            .related-widget-wrapper {
                                width: 100%;
                            }

                            .readonly {
                                background: _(cInput);
                                height: 40px;
                                border: _(bd);
                                border-radius: 3px;
                                color: _(cTextOff);
                                font-size: 15px;
                                -webkit-transition: all 0.4s ease;
                                transition: all 0.4s ease;
                                padding: 10px;
                                width: 80%;
                                cursor: not-allowed;
                            }

                            .selector .selector-available h2,
                            .selector .selector-chosen h2 {
                                font-size: 1rem;
                                padding: 5px;
                                text-align: center;
                                margin: 0;

                                span {
                                    width: 20px;
                                }
                            }

                            .selector .selector-chosen h2 {
                                background: _(cPrimary);
                                color: _(cInput);

                            }

                            .selector .selector-available h2 {
                                background: _(backgroundColor);
                                color: _(cText);
                            }
                        }

                        div.datetime {
                            strong {
                                padding-left: 10px;
                                color: _(cTextOff);
                            }

                            .datetimeshortcuts {
                                margin-right: 40px;
                            }
                        }

                        .form-row-checkbox {
                            width: 100%;

                            label {
                                font-weight: bold;
                                color: _(cText);
                            }
                        }
                    }

                    .help {
                        color: _(cTextOff);
                        width: 100%;
                        padding-left: 0px;
                        padding-top: 3px;

                        a {
                            padding-left: 3px;
                            color: _(cPrimary);
                        }
                    }

                    .related-widget-wrapper {
                        float: left;
                        overflow: initial;
                    }
                }

                .field-password .help {
                    margin: -15px 0 0 160px;
                }
                ul.errorlist {
                    color: _(erro);
                    padding-left: 5px;
                    list-style: none;
                }
            }

            .tabular fieldset {
                
                
                
                tr {
                    border-bottom: _(bd);
                    td {
                        color: _(cText);
                        background: _(bgcContent);
                        vertical-align: bottom;
                        padding: 5px 5px;
                        input[type="text"],
                        input[type="number"],
                        input[type="url"],
                        input[type="email"],
                        input[type="search"],
                        input[type="password"],
                        textarea,
                        .bootstrap-select {
                            width: 100%;
                        }
                        textarea {
                            height: 40px;
                        }
                        .related-widget-wrapper {
                            float: left;
                            overflow: initial;
                            width: 100%;
                            display: flex;
                            align-items: center;
                            .select2-container {
                                width: 100%!important;
                            }
                            .related-widget-wrapper-link {
                                margin-left: 7px;
                            }
                        }
                        
                    }
                    td.delete {
                        width: 100px;
                        text-align: center;
                        vertical-align: middle;
                        div a.inline-deletelink {
                            @extend .button;
                            background-color: _(erro);
                            background-image: none;
                            float: right;
                            width: 100%;
                            height: 100%;
                            text-indent: 0;
                            min-width:90px;
                        }
                    }
                    th.original {
                        width: 10px;
                        padding: 0;
                    }
                    th.required:before {
                        content: '*';
                        display: inline-block;
                        vertical-align: middle;
                        height: 26px;
                        font-size: 0.8em;
                        color: _(erro);
                    }

                    th.delete {
                        text-align: center;
                    }
                    
        
                }
                tr.add-row td {
                    background:_(bgcMenuSub);
                    padding: 2px 20px;
                    border-bottom: _(bdMenu);
                    a {
                        text-decoration: none;
                        color: _(cMenuFont);
                    }
                }
            }
            .inline-group div.add-row {
                color: _(cMenuFont);
                background:_(bgcMenuSub);
                padding: 2px 20px;
                border-bottom:  _(bdMenu);
                a {
                    text-decoration: none;
                    color: _(cMenuFont);
                }
            }
            
        }
    }
}