.results-footer {
    @include flex-row();
    align-items: flex-start;

    .button {
        padding: 5.5px 5px;
        min-width: 60px;
    }

    .actions {
        @include flex-row();
        justify-content: flex-start;
        width: 50%;

        label {
            margin: 0;
        }

        select {
            height: 35px;
            min-width: 200px;
            margin-right: 10px;
        }

        span.all,
        span.action-counter,
        span.clear,
        span.action-counter,
        span.question {
            display: none;
        }
    }

    .pagination-block {
        @include flex-row();

        .pagination-list {
            margin: 0;

            li.disabled a,
            li.disabled span {
                &:hover {
                    background-color: #fff;
                }
            }

            li.active a,
            li.active span {
                z-index: 1;
                color: #fff;
                background-color: $color1;
                border-color: $color1;

                &:hover {
                    background-color: $color1;
                }
            }

            li a,
            li span {
                position: relative;
                display: block;
                padding: 0.5rem 0.75rem;
                margin-left: -1px;
                line-height: 1.25;
                background-color: #fff;
                border: $border;
                text-decoration: none;

                &:hover {
                    background-color: $background-color;
                }
            }

            li a.end {
                border-radius: 0 $border-radius $border-radius 0;
            }

            li a.start {
                border-radius: $border-radius 0 0 $border-radius;
            }
        }
    }
}

.results {
    table {
        position: relative;

        .action-checkbox,
        .action-checkbox-column {
            width: 16px;
            padding: 0 8px;
            vertical-align: middle;
        }

        a {
            &:hover {
                color: $color1;
                text-decoration: none;
            }
        }

        thead {
            tr th {
                border-bottom: none;
            }

            .th-col {
                @include flex-row();
                color:$color-text;

                .sortoptions {
                    padding-right: 10px;

                    a {
                        color:$color-text;
                    }
                }
            }
        }

        tbody {
            border-bottom: 1px solid #dee2e6;

            tr {
                height: 3em;
                a,
                td {
                    line-height: 3em;
                    padding: 0px;
                    margin: 0px;
                }

                th a:before {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 32px;
                    width: calc(100% - 32px);
                    height: 3em;
                }

                td,
                th {
                    padding: 0px 0.75rem;
                    vertical-align: middle;
                    a {
                        font-weight: 400;
                    }
                }

                &:hover {
                    background-color: #b7ccda;
                    color: $color1;
                }
            }
        }
    }
}

.toolbar-content {
    padding: 10px;
    @include flex-row();

    #toolbar {
        width: 100%;

        .search-container {
            @include flex-row();

            .search-filters {
                padding: 0 10px;

                .search-filter {
                    width: 200px;
                }
            }
        }
    }
}

.list-info {
    border-radius: $border-radius;
    border: $border;
    background-color: $background-color;
    margin: 0;
    padding: 0.5rem 0.75rem;
    line-height: 1.25;
    margin: 0 10px;

    a {
        color: $color1;
    }
}