@mixin table-index() {
    width: 100%;
    tr {
        border-bottom: _(bd);
        th, td {
            padding: 10px 0;
            a {
                text-decoration: none;
            }
            i {
                color: _(cPrimary);
            }
        }
    }
}

.change-columns {
    .apps-column {
        width: calc(70% - 20px);
        .app-models {
            @include content();
            .module-header .legend a {
                color: _(cPrimary);
                text-decoration: none;
            }
            table {
                @include table-index();
                tr {
                    td {
                        width: 15%;
                    }
                    td:last-child {
                        width: 40%;
                    }
                    th {
                        padding-left: 20%;
                    }
                }
            }
        }
    }
    .last-column{
        @include content();
        width: 30%;
        .module-header.last-actions{
            padding-left: 20px;
            .legend  {
                color: _(cPrimary);
                text-decoration: none;
            }
        }
        table {
            @include table-index();
            tr {
                th:first-child {
                    width: 55%;
                    padding-left: 20%;
                }
            }
        }
    }
}

