input[type="checkbox"] {
    width: 14px;
    border: _(bd);
    height: 14px;
    outline: 0;
    box-sizing: border-box;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    cursor: pointer;
    
}

input[type="text"],
input[type="number"],
input[type="url"],
input[type="email"],
input[type="search"],
input[type="password"],
textarea {
    background: _(cInput);
    height: 40px;
    border: _(bd);
    -webkit-border-radius: _(bdRadius);
    -moz-border-radius: _(bdRadius);
    border-radius: _(bdRadius);
    color: _(cText);
    font-size: 15px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    padding: 0 0 0 10px;
    width: 100%;

    &::-webkit-input-placeholder {
        color: #999;
    }

    &:-moz-placeholder {
        color: #999;
        opacity: 1;
    }

    &::-moz-placeholder {
        color: #999;
        opacity: 1;
    }

    &:-ms-input-placeholder {
        color: #999;
        color: #999;
    }

    &:focus {
        -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
        -webkit-transform: translateY(-3px);
        -moz-transform: translateY(-3px);
        -ms-transform: translateY(-3px);
        -o-transform: translateY(-3px);
        transform: translateY(-3px);
        border-color: #80bdff;
    }
}

textarea {
    height: calc(40px * 3);
}

select{
    -webkit-appearance: none;
    border-radius: _(bdRadius);
    border: _(bd);
    display: inline-block;
    font-size: 1rem;
    height: calc(1.5em + .75rem + 4px);
    padding: 0 30px 0 10px;
    vertical-align: middle;
    color: _(cText);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") right 0.4rem center/8px 10px no-repeat _(cInput);
    transition: all 0.4s ease;
    width: 100%;

    &:focus {
        -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
        -webkit-transform: translateY(-3px);
        -moz-transform: translateY(-3px);
        -ms-transform: translateY(-3px);
        -o-transform: translateY(-3px);
        transform: translateY(-3px);
        border-color: #80bdff;
    }
}


.select2-container--default {
    .select2-search--dropdown .select2-search__field ,
    .select2-dropdown {
        border-radius: _(bdRadius);
        border: _(bd)!important;
        color: _(cText);
        input:focus {
            box-shadow: none;
            transform: none;
        }
    }
    .selection .select2-selection--single {
        background-color: _(cInput);
        color: _(cText);
        padding: 5px 30px 0 10px;
        vertical-align: middle;
        border-radius: _(bdRadius);
        border: _(bd);
        height: 40px!important;
        .select2-selection__rendered {
            background-color: _(cInput);
            color: _(cText);
            font-size: 1rem;
            height: 100%;
        }
        .select2-selection__arrow {
            height: 100%;
        }
    }
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color:  _(bgcMenuHover)!important;
    color: _(cMenuFontHover)!important;
}
.select2-container--default .select2-results__option[aria-selected=true] {
    background-color:  _(bgcMenuSub)!important;
}
.select2-container--default.select2-container--focus, 
.select2-container--default.select2-container--open {
    .select2-selection--single {
        -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
        -webkit-transform: translateY(-3px);
        -moz-transform: translateY(-3px);
        -ms-transform: translateY(-3px);
        -o-transform: translateY(-3px);
        transform: translateY(-3px);
        border-color: #80bdff;
    }
    .select2-dropdown {
        border-color: #80bdff!important;
        background-color: _(cInput);
        &.select2-dropdown--below {
            -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
            -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
            margin-top: -4px;
        }
        &.select2-dropdown--above  {
            -webkit-box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.15);
            -moz-box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.15);
            box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.15);
            margin-top: -2px;
        }
    }
} 

label.required:before {
    content: '*';
    display: inline-block;
    vertical-align: middle;
    height: 26px;
    font-size: 0.8em;
    color: _(erro);
}