.login_bar {
	background:  linear-gradient(180deg, _(bgcMenu) 0%,  _(bgcMenu2) 100%); 
	width: 30vw;
	height: 100vh;
}
.breadcrumbs .breadcrumb.login {
	padding: 60px 30px 0;
}

.logincontent {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 80px);

	.loginbox {
		@include content();
		padding: 3em 0 3.5em 0;
		border-left: 6px solid _(cPrimary);
		margin-top:  -160px;
		width: calc(12vw + 250px);
		form {
			padding: 10px 3em;
		}
		p {
			padding: 21px 3em 0 2em;
			margin: 0;
			text-align: justify;
		}
		.login_input.errors input {
			@include errors();
		}
		.login_input {
			width: 100%;
			padding: 8px 0;

			label {
				font-size: 11px;
				color: _(cText);
				line-height: 1.2;
				text-transform: uppercase;
				padding: 5px 0px;
				display: block;
				margin: 0;
				width: 100%;
			}

			input {
				padding: 5px 20px;
				width: 100%;
			}

			input[type="submit"] {
				padding: 10px 25px;
				text-decoration: none;
				margin: 10px 0 0 30%;
				width: 70%;
			}
			ul {
				padding: 5px 0px;
				margin: 0;
				font-size: 12px;
				color: _(cTextOff);
				li {
					padding: 4px 0;
					margin: 0;
					list-style-type: circle;
					list-style-position: inside;
				}
			}
			ul.errorlist {
				li {
					@include errors();
					border-radius: _(bdRadius);
					padding-left: 5px;
					color: _(erro);
					margin-bottom: 3px;
				}
			}
		}

		.forGotPassword {
			background-color: #F2F2F2;
			text-align: center;
			font-size: 12px;
			padding: 5px;

			a {
				text-decoration: none;
				color: _(cTextOff);
				outline: none;

				&:hover {
					color: #000;
					text-decoration: bold;
				}
			}

			&:hover {
				background-color: #D5D7D8;
			}
		}
	}
	.loginbox_error {
		@include content();
		border-left: 6px solid _(erro);
		width: calc(12vw + 250px);
		.alert {
			margin-bottom: 0;
		}
	}
}

.headerlogin {
	.button {
		text-decoration: none;

		i {
			margin-right: 15px;
		}
	}

	.loginmenu {
		a {
			background-color: _(bgcMenuItem);
			color: _(cMenuFont);
			text-decoration: none;
			padding: 8px 25px;

			&:hover {
				background-color: _(bgcMenuHover);
				transition: all 0.6s ease;
				
			}
		}

		.dropdown-toggle {
			width: 250px;
			text-align: right;
			box-shadow: _(boxShadow);
			border: _(bdMenu);

			&:after {
				border: none;
				font-family: "Font Awesome 5 Free";
				font-size: 1.4em;
				margin-left: 0.4em;
				top: 15px;
				vertical-align: -4px;
				width: 10px;
			}
			&:hover {
				background-color: _(bgcMenuItem);
			}
		}

		.dropdown-toggle[aria-expanded="false"] {
			&:after {
				content: "\f107";
				transition: all 0.6s ease;
			}
		}

		.dropdown-toggle[aria-expanded="true"] {
			&:after {
				content: "\f106";
				transition: all 0.6s ease;
			}
		}

		.dropdown-menu {
			background-color: _(bgcMenuSub);
			border: _(bdMenu);
			font-size: 14px;
			margin: 0.15rem 0 0 0;
			padding: 5px;
			width: 250px;
			box-shadow: _(boxShadow);
		}

		.dropdown-item {
			background-color: _(bgcMenuSub);
			border-radius: _(bdRadius);
			border: none;
			text-align: left;

			i {
				margin-right: 15px;
			}

			&:hover {
				background-color: _(bgcMenuHover);
				transition: all 0.6s ease;
				box-shadow: none;
				transform: none
			}
		}
	}
}