.results-footer {
    @include flex-row();
    .pagination-block {
        @include flex-row();
        .pagination-list {
            margin: 0;
            padding-right:20px ;
            li.disabled a, li.disabled span  {
                &:hover{
                    background-color:  #fff;
                }
            }
            li.active a, li.active span {
                z-index: 1;
                color: #fff;
                background-color: $color1;
                border-color: $color1;
                &:hover{
                    background-color: $color1;
                }
            }
            li a,  li span {
                position: relative;
                display: block;
                padding: .5rem .75rem;
                margin-left: -1px;
                line-height: 1.25;
                background-color: #fff;
                border:  $border;
                text-decoration: none;
                &:hover{
                    background-color: $background-color;
                }
            }

            li a.end {
                border-radius: 0 $border-radius $border-radius  0;
            }
            li a.start {
                border-radius: $border-radius 0 0 $border-radius;
            }

        }
        .pagination-info {
            border-radius: $border-radius;
            border: $border;
            background-color: $background-color;
            margin: 0;
            padding: .5rem .75rem;
            line-height: 1.25;
            a{
                color: $color1;
            }
        }
    }
}

