
@mixin flex-row() {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


@mixin content() {
    margin: 0;
    background-color: _(bgcContent);
    padding: 10px;
    border-radius: _(bdRadius);
    box-shadow: _(boxShadow);
    margin-bottom: 10px;
}

@mixin errors() {
    border-color: #f2a1a6;
    background-color:  #F2DEDE;
    color: _(erro);
}


@mixin errorlist() {
    color: _(boxShadow);
    padding: 0px;
    margin: 10px 0px 5px 10px;
    list-style-type: none;
}