
// $theme:hybrid-theme;

// $color-title:  #081296;
// $background-color: #eee;
// $color-text: #212529;
// $color-text-off: #666666;
// $border: 1px solid #D9D9D9;
// $border-radius: 5px;
// $box-shadow: 0 2px 0 rgba(90,97,105,.11),0 4px 8px rgba(90,97,105,.12),0 10px 10px rgba(90,97,105,.06),0 7px 10px rgba(90,97,105,.1);
// $erro: #D8000C;
// $margin-vw:2vw; 
// $background-color-content: #fff;
// $color-input:#FFFFFF;
// $color-title-main: #fff;
// $color-menu: #0B3A8D;
// $color-menu2:#090979;
// $color-menu-item:#0B3A8D;
// $color-menu-hover: #0F4DB8;
// $color-menu-sub: #0D42A0;
// $border-menu: 1px solid #2059BD;
// $color-menu-font: #fff;
// $color-menu-font-hover: #fff;
// $color-menu-active: #fff;
// $color1: #0F4DB8;

// @if $theme == light-theme {
//     $color-title-main: #081296;
//     $color-menu-item: #ffffff;
//     $color-menu: #ffffff;
//     $color-menu2:#dddddd;
//     $color-menu-hover: #EDF0F2;
//     $color-menu-sub: #F5F8FA;
//     $border-menu: 1px solid #E6ECF0;
//     $color-menu-font: #000;
//     $color-menu-font-hover: #000;
//     $color-menu-active: #216BB8;
//     $color1: #216BB8;
// }

// @if $theme == hybrid-theme {
//     $color-title-main: #fff;
//     $color-menu: #0D47A1;
//     $color-menu2:#090979;
//     $color-menu-item: #FFFFFF;
//     $color-menu-hover: #E9E9E9;
//     $color-menu-sub: #FBFBFB;
//     $border-menu: 1px solid #E9E9E9;
//     $color-menu-font: #000;
//     $color-menu-font-hover: #0068FF;
//     $color-menu-active: #2096F3;
//     $color1: #216BB8;
// }

// @if $theme == black-theme {
//     $color-title-main: #FFFFFF;
//     $color-menu-item: #121212;
//     $color-menu: #000000;
//     $color-menu2:#292929;
//     $color-menu-hover: #38444D;
//     $color-menu-sub: #282A36;
//     $border-menu: 1px solid #38444D;
//     $color-menu-font: #ffffff;
//     $color-menu-font-hover: #ccc;
//     $color-menu-active: #03DAC6;
//     $color1: #1DA1F2;
//     $background-color: #282A36;
//     $color-text: #fff;
//     $color-text-off: #666666;
//     $border: 1px solid #38444D;
//     $background-color-content:#000000;
//     $box-shadow: none;
//     $color-input:#263341;
// }



@mixin flex-row() {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


@mixin content() {
    margin: 0;
    background-color: $background-color-content;
    padding: 10px;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    margin-bottom: 10px;
}

@mixin errors() {
    border-color: #f2a1a6;
    background-color:  #F2DEDE;
    color: $erro;
}
