@use "sass:map";
$themes: (
    default: (
        backgroundColor: #eee,
        bd: 1px solid #D9D9D9,
        bdMenu: 1px solid #2059BD,
        bdRadius: 5px,
        bgcContent: #fff,
        bgcMenu: #0B3A8D,
        bgcMenu2:#090979,
        bgcMenuHover: #0F4DB8,
        bgcMenuItem:#0B3A8D,
        bgcMenuSub: #0D42A0,
        boxShadow: (0 2px 0 rgba(90,97,105,.11),0 4px 8px rgba(90,97,105,.12),0 10px 10px rgba(90,97,105,.06),0 7px 10px rgba(90,97,105,.1)),
        boxShadowMenu: (0 .125rem 9.375rem rgba(90, 97, 105, .1), 0 .25rem .5rem rgba(90, 97, 105, .12), 0 .9375rem 1.375rem rgba(90, 97, 105, .1), 0 .4375rem 2.1875rem rgba(165, 182, 201, .1)),
        cMenuFont: #fff,
        cMenuFontHover: #fff,
        cMenuActive: #fff,
        cInput:#FFFFFF,
        bgcTitle:  #081296,
        cTitle: #fff,
        cPrimary: #0F4DB8,
        cText: #212529,
        cTextOff: #666666,
        erro: #D8000C,
        marginVw:2vw
    ),
    hybrid: (
        bdMenu: 1px solid #E9E9E9,
        bgcMenu: #0D47A1,
        bgcMenu2:#090979,
        bgcMenuHover: #E9E9E9,
        bgcMenuItem: #FFFFFF,
        bgcMenuSub: #FBFBFB,
        cMenuActive: #2096F3,
        cMenuFont: #000,
        cMenuFontHover: #0068FF,
        bgcTitle: #fff,
        cPrimary: #216BB8
    ),
    light: (
        bdMenu: 1px solid #E6ECF0,
        bgcMenu: #ffffff,
        bgcMenu2:#dddddd,
        bgcMenuHover: #EDF0F2,
        bgcMenuItem: #ffffff,
        bgcMenuSub: #F5F8FA,
        cMenuActive: #216BB8,
        cMenuFont: #000,
        cMenuFontHover: #000,
        bgcTitle: #fff,
        cTitle:  #081296,
        cPrimary: #216BB8
    ),
    dark: (
        backgroundColor: #282A36,
        bd: 1px solid #38444D,
        bdMenu: 1px solid #38444D,
        bgcContent:#000000,
        bgcMenu: #000000,
        bgcMenu2:#292929,
        bgcMenuHover: #38444D,
        bgcMenuItem: #121212,
        bgcMenuSub: #282A36,
        boxShadow: none,
        cMenuActive: #03DAC6,
        cMenuFont: #ffffff,
        cMenuFontHover: #ccc,
        cInput:#263341,
        bgcTitle: #FFFFFF,
        cPrimary: #1DA1F2,
        cText: #fff,
        cTextOff: #666666,
        boxShadowMenu: (0 .125rem 9.375rem rgba(90, 97, 105, .1), 0 .25rem .5rem rgba(90, 97, 105, .12), 0 .9375rem 1.375rem rgba(90, 97, 105, .1), 0 .4375rem 2.1875rem rgba(165, 182, 201, .1)),
    ),
);

$map_update: $themes;
@function _($key) {
    @return map-get($map_update, $key);
}

* {
    box-sizing: border-box;
    margin: 0;
    outline: 0;
    padding: 0;
}

@each $theme-name, $map in $themes {
    $default:map-get($themes, 'default');
    $map_update:map-merge( $default, $map);
    body.#{$theme-name} {
        -webkit-font-smoothing: antialiased;
        background-color: _(backgroundColor);
        font-family: "Dosis", "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.43;
        color: _(cText);
        a {
            text-decoration: none;
            color: _(cText);
        }
        @import "variables";
        @import "base";
        @import "input";
        @import "button";
        @import "menu";
        @import "login";
        @import "jquerytoastpluguin";
        @import "pace";
        @import "button";
        @import "change_list";
        @import "change_form";
        @import "index";
    }
}
