@use "sass:map";
$themes: (default: (backgroundColor: #eee,
        bd: 1px solid #D9D9D9,
        bdMenu: 1px solid #2059BD,
        bdRadius: 5px,
        bgcContent: #fff,
        bgcMenu: #0B3A8D,
        bgcMenu2:#090979,
        bgcMenuHover: #0F4DB8,
        bgcMenuItem:#0B3A8D,
        bgcMenuSub: #0D42A0,
        boxShadow: (0 2px 0 rgba(90, 97, 105, .11), 0 4px 8px rgba(90, 97, 105, .12), 0 10px 10px rgba(90, 97, 105, .06), 0 7px 10px rgba(90, 97, 105, .1)),
        boxShadowMenu: (0 .125rem 9.375rem rgba(90, 97, 105, .1), 0 .25rem .5rem rgba(90, 97, 105, .12), 0 .9375rem 1.375rem rgba(90, 97, 105, .1), 0 .4375rem 2.1875rem rgba(165, 182, 201, .1)),
        cMenuFont: #fff,
        cMenuFontHover: #fff,
        cMenuActive: #fff,
        bgMenuDetail: #fff,
        cInput:#FFFFFF,
        bgcTitle: #081296,
        cTitle: #fff,
        cPrimary: #0F4DB8,
        cText: #212529,
        cTextContrast: #fff,
        cTextOff: #666666,
        btnSecondary:#6c757d,
        erro: #D8000C,
        cBreadcrumb:#0F4DB8,
        bgcHeadMenu:#eee,
        marginVw:4vw),
    hybrid: (bdMenu: 1px solid #E9E9E9,
        bgcMenu: #0D47A1,
        bgcMenu2:#090979,
        bgcMenuHover: #E9E9E9,
        bgcMenuItem: #FFFFFF,
        bgcMenuSub: #FBFBFB,
        cMenuActive: #2096F3,
        bgMenuDetail: #2096F3,
        cMenuFont: #000,
        cMenuFontHover: #0068FF,
        bgcTitle: #fff,
        cBreadcrumb:#216BB8,
        cPrimary: #216BB8),
    magalu: (bdMenu: 1px solid #E9E9E9,
        bgcMenu: #0D47A1,
        bgcMenu2: #0083ca,
        bgcMenuHover: #E9E9E9,
        bgcMenuItem: #FFFFFF,
        bgcMenuSub: #FBFBFB,
        cMenuActive: #2096F3,
        bgMenuDetail: linear-gradient(90deg, rgba(251, 206, 10, 1) 0%, rgba(251, 206, 10, 1) 10%, rgba(247, 148, 32, 1) 20%, rgba(228, 82, 53, 1) 30%, rgba(215, 57, 147, 1) 40%, rgba(154, 79, 158, 1) 50%, rgba(92, 81, 160, 1) 60%, rgba(61, 130, 192, 1) 70%, rgba(53, 193, 219, 1) 80%, rgba(88, 190, 150, 1) 90%, rgba(83, 184, 72, 1) 100%),
        cMenuFont: #000,
        cMenuFontHover: #0068FF,
        bgcTitle: #fff,
        cBreadcrumb:#0083ca,
        cPrimary: #0083ca),
    alive: (bdMenu: 1px solid #E9E9E9,
        bgcMenu2:#250440,
        bgcMenuHover: #E9E9E9,
        bgcMenuItem: #FFFFFF,
        bgcMenuSub: #FBFBFB,
        cMenuActive: #471E5F,
        bgMenuDetail: #471E5F,
        cMenuFont: #700099,
        cMenuFontHover: #700099,
        btnSecondary:#8E41A8,
        backgroundColor:#8903BE,
        bgcHeadMenu:rgb(248, 248, 248),
        bgcMenu:#4F1274,
        cBreadcrumb:#FFFFFF,
        cPrimary: #4F1274),
    light: (bdMenu: 1px solid #E6ECF0,
        bgcMenu: #ffffff,
        bgcMenu2:#dddddd,
        bgcMenuHover: #EDF0F2,
        bgcMenuItem: #ffffff, s bgcMenuSub: #F5F8FA,
        cMenuActive: #216BB8,
        bgMenuDetail: #216BB8,
        cMenuFont: #000,
        cMenuFontHover: #000,
        bgcTitle: #fff,
        cTitle: #081296,
        cBreadcrumb:#216BB8,
        cPrimary: #216BB8),
    dark: (backgroundColor: #282A36,
        bd: 1px solid #38444D,
        bdMenu: 1px solid #38444D,
        bgcContent:#000000,
        bgcMenu: #000000,
        bgcMenu2:#292929,
        bgcMenuHover: #38444D,
        bgcMenuItem: #121212,
        bgcMenuSub: #282A36,
        bgcHeadMenu:#282A36,
        boxShadow: none,
        cMenuActive: #03DAC6,
        bgMenuDetail: #03DAC6,
        cMenuFont: #ffffff,
        cMenuFontHover: #ccc,
        cInput:#263341,
        bgcTitle: #FFFFFF,
        cPrimary: #1DA1F2,
        cText: #fff,
        cBreadcrumb:#1DA1F2,
        cTextContrast: #000,
        cTextOff: #666666,
        boxShadowMenu: (0 .125rem 9.375rem rgba(90, 97, 105, .1), 0 .25rem .5rem rgba(90, 97, 105, .12), 0 .9375rem 1.375rem rgba(90, 97, 105, .1), 0 .4375rem 2.1875rem rgba(165, 182, 201, .1)),
    ),
);

$map_update: $themes;

@function _($key) {
    @return map-get($map_update, $key);
}

* {
    box-sizing: border-box;
    margin: 0;
    outline: 0;
    padding: 0;
}


@each $theme-name,
$map in $themes {
    $default: map-get($themes, 'default');
    $map_update: map-merge($default, $map);

    body.#{$theme-name} {
        -webkit-font-smoothing: antialiased;
        background-color: _(backgroundColor);
        font-family: "Dosis", "Roboto", sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.43;
        color: _(cText);

        a {
            text-decoration: none;
            color: _(cText);
        }

        .bg_cor_primaria {
            background-color: _(cPrimary);
        }

        .txt_cor_primaria {
            color: _(cPrimary);
        }

        @import "scss/variables";
        @import "scss/base";
        @import "scss/input";
        @import "scss/button";
        @import "scss/boostrap_select";
        @import "scss/menu";
        @import "scss/login";
        @import "scss/export";
        @import "scss/jquery_toast_select";
        @import "scss/pace";
        @import "scss/change_list";
        @import "scss/change_form";
        @import "scss/index";
    }
}

@import "scss/color";