{% load i18n static garb_tags %}
<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="utf-8" />
        <link rel="icon" href="#" />
        <title>{% block title %}{{ title|default_if_none:None|garb_title }}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="https://fonts.googleapis.com/css?family=Sora:400,500,700|Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.8.0/css/solid.css">
        <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.8.0/css/fontawesome.css">
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/bootstrap-reboot.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.min.css' %}">
        {% block extrastyle %}{% endblock %}
        {% block extrahead %}{% endblock %}

    </head>
    <body class="{{ "THEME"|settings_value }}">
        {% block header %}
            <header>
                <div>
                    <div class="titulo">
                        <a href= {% if user.is_authenticated %} {% url 'admin:index' %} {% else %} "/" {% endif %}>
                            <div class='logo'>{{ None|garb_title }}</div>
                        </a>
                    </div>
                </div>
                {% block header_msg %} {% endblock %}
                {% block header_login %}
                    {% if not is_popup %}
                        {% block login %}
                            <div class="headerlogin dropdown show">
                                {% if user.is_authenticated %}
                                    <div class="loginmenu">
                                        <a class="button dropdown-toggle" href="/#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            {{ user.username }}
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            {% if "ROUTE_PROFILE"|settings_value %} 
                                                <a class="dropdown-item button" href="{% url "ROUTE_PROFILE"|settings_value %}"><i class="fas fa-user-circle"></i>
                                                    {% if "NAME_PROFILE"|settings_value %} 
                                                        {{ "NAME_PROFILE"|settings_value|title }}
                                                    {% else %}
                                                        {% trans 'Account' %}
                                                    {% endif %}
                                                </a>
                                            {% endif %}
                                            {% block password_change %}
                                                <a class="dropdown-item button" href="{% url 'admin:password_change' %}"><i class="fas fa-key"></i>{% trans 'Change password' %}</a>
                                            {% endblock %}
                                            <a class="dropdown-item button" href="{% url 'admin:logout' %}"><i class="fas fa-sign-out-alt"></i>{% trans 'Log out' %}</a>
                                        </div>
                                    </div>
                                {% else %}
                                    <a class="button" href="{% block login_link %} {% url 'admin:login' %}{% endblock %}" >
                                        <i class="fas fa-sign-in-alt"></i>{% trans 'Log in' %}
                                    </a>
                                {% endif %}
                            </div>
                        {% endblock %}
                    {% endif %}
                {% endblock %}
            </header>
        {% endblock %}
        {% block wrapper %}
            <div class="wrapper">
                    {% if not is_popup %}
                        {% block sidebar %}
                            {% if not "MENU_ONLY_AUTH"|settings_value or user.is_authenticated %}
                                <aside>
                                    {% include 'garb/menu.html' %}
                                </aside>
                            {% endif %}
                        {% endblock %}
                    {% endif %}
                <main  {% if is_popup %} class="margin-is-popup" {% endif %}>
                    {% block breadcrumbs %}
                        {% include "admin/includes/breadcrumbs.html" with nivel=1 breadcrumbs_action=title|default_if_none:None %} 
                    {% endblock %}
                    <div class="content-extend" >
                        {% block content %}  {% endblock %}
                    </div>
                </main>
            </div>
        {% endblock %}
    </body>
    <script src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-select/js/bootstrap-select.min.js' %}" ></script>
    <script src="{% static 'vendor/jquery-toast-plugin/jquery.toast.min.js' %}" ></script>
    <script src="{% static 'vendor/pace/pace.min.js' %}" ></script>
    <script src="{% static 'js/garb_input.js' %}"></script>
    <script type="text/javascript">
        {% block messages %}
            {% if messages %}
                    {% for message in messages %}
                        $.toast({
                            text: `{{ message }}`,
                            icon: `{% firstof message.tags 'info' %}`,
                            loader: true,
                            position: 'bottom-right',
                            showHideTransition: 'slide',
                            hideAfter: 9000, 
                            allowToastClose: true,
                            stack: 20,
                        });
                    {% endfor %}
            {% endif %}
        {% endblock %}
    </script>
    {% if not "MENU_ONLY_AUTH"|settings_value or user.is_authenticated %}
        <script type="text/javascript">
            $('#menu .collapsed').on('click', function () {
                $('#menu .collapse').collapse('hide');
            });
        </script>
    {% endif %}
    {% block extrajs %}{% endblock %}
</html>
