{% load i18n static garb_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
        <title>{{ title|default_if_none:None|garb_title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
        <link href="https://fonts.googleapis.com/css?family=Dosis:400,700|Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.8.0/css/solid.css">
        <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.8.0/css/fontawesome.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.min.css' %}">
        {% block extrastyle %}{% endblock %}
        {% block extrahead %}{% endblock %}
    </head>
    <body>
        {% block header %}
            <header>
                <div>
                    <div class="titulo">
                        <a href= {% if user.is_authenticated %} {% url 'admin:index' %} {% else %} "/" {% endif %}>
                            <div class='logo'>{{ None|garb_title }}</div>
                        </a>
                    </div>
                </div>
                {% block login %}
                    <div class="headerlogin dropdown show">
                        {% if user.is_authenticated %}
                            <div class="loginmenu">
                                <a class="button dropdown-toggle" href="/#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ user.username }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    {% block login_menu %}
                                        <a class="dropdown-item button" href="/#"><i class="fas fa-user-circle"></i>{% trans 'Account' %}</a>
                                    {% endblock %}
                                    <a class="dropdown-item button" href="{% url 'admin:password_change' %}"><i class="fas fa-key"></i>{% trans 'Change password' %}</a>
                                    <a class="dropdown-item button" href="{% url 'admin:logout' %}"><i class="fas fa-sign-out-alt"></i>{% trans 'Log out' %}</a>
                                </div>
                            </div>
                        {% else %}
                            <a class="button" href="{% url 'admin:login' %}" >
                                <i class="fas fa-sign-in-alt"></i>{% trans 'Log in' %}
                            </a>
                        {% endif %}
                    </div>
                {% endblock %}
            </header>
        {% endblock %}
        {% block wrapper %}
            <div class="wrapper">
                {% block sidebar %}
                    <aside>
                        {% include 'garb/menu.html' %}
                    </aside>
                {% endblock %}
                <main>
                    <div class="alertas" >
                        {% block messages %}
                            {% if messages %}
                                    {% for message in messages %}
                                        <div class="alert alert-{% firstof message.tags 'info' %}">
                                            <button class="close" data-dismiss="alert">×</button>
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                            {% endif %}
                        {% endblock messages %}
                    </div>
                    {% block breadcrumbs %} {% endblock %}
                    <div class="content-extend" >
                        {% block content-extend %}
                            <div class="content" >
                                {% block content %} {% endblock %}
                            </div>
                        {% endblock %}
                    </div>
                </main>
            </div>
        {% endblock %}
    </body>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>
    {% block extrajs %}{% endblock %}
</html>
